Django>=6.0,<6.1
djangorestframework>=3.16,<3.17
django-cors-headers>=4.9,<5.0
google-auth>=2.40,<3.0
reportlab>=4.2,<5.0
cloudinary>=1.44,<2.0
dj-database-url>=3.0,<4.0
gunicorn>=23.0,<24.0
psycopg[binary]>=3.2,<4.0
whitenoise>=6.9,<7.0
